extends layout

block content
  div.container
  div.card
    div.card-header
      div.backdrop
      div.card-tile Pizza Hut
        img.card-header-image(src='https://clipartcraft.com/images/pizza-hut-logo-clipart-2.png')
      div.card-body
        div.edit
           a(href='#') Edit
          div.card-details
             div.category Italian
              div.rating
                  span &#X2b50;
                  span &#X2b50;
                 div.description
        //a single pipe / allows you to type free floating text
         |Pizza Hut is an American multinational
          restaurant chain and international
          franchise founded in 1958 in Wichita,
          Kansas by Dan and Frank Carney. The chain,
          headquartered in Plano, Texas,
          operates 17,639 restaurants worldwide
          as of 2020. It is owned by Yum! Brands,
           Inc